version: "3.9"

services:
  api:
    build: ./api
    container_name: dnsafe-api
    env_file:
      - .env
    volumes:
      - ./api:/app
    expose:
      - "8000"

  nginx:
    image: nginx:alpine
    container_name: dnsafe-nginx
    ports:
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - api
